r2_endpoint = "https://ACCOUNT_ID.r2.cloudflarestorage.com"
r2_access_key = "ACCESS_KEY_ID"
r2_secret_key = "SECRET_ACCESS_KEY"
r2_bucket = "iac-oci"
r2_key = "iac-oci/terraform.tfstate"
company = "generic"
user_ocid = "USER_OCID"
tenancy_ocid = "TENANCY_OCID"
compartment_id = "COMPARTMENT_OCID"
private_key_path = "PRIVATE_KEY_PATH"
private_key_password = "PRIVATE_KEY_PASSWORD"
fingerprint = "PRIVATE_KEY_FINGERPRINT"
image_ocid = "ocid1.image.oc1.sa-saopaulo-1.aaaaaaaacd2dmt35aapfrbkwxg627dc76s7mr2idqp7lrng3depdv46cgudq"
ssh_public_key = "SSH_PUBLIC_KEY_PATH"
ssh_private_key = "SSH_PRIVATE_KEY_PATH"